* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --main-color: #19c8fa;
    --transparent-color: rgb(15 116 143 / 70%);

}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: black;
}

ul {
    list-style: none;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width:350px) {
    .container {
        width: 320px;
    }
}

/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* start header */
header {
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 2;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: 97px;

}

header .container::after {
    content: '';
    position: absolute;
    height: 1px;
    width: calc(100% - 30px);
    background-color: #a2a2a2;
    bottom: 10px;
    left: 15px;
}

header .container a img {
    height: 40px;

}

header .container nav {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

header .container nav ul {
    display: flex;
}

@media (max-width:767px) {
    header .container nav ul {
        display: none;
    }
}

header .container nav .toggle-menu {
    color: white;
    font-size: 22px;
}

@media (min-width:767px) {
    header .container nav .toggle-menu {
        display: none;
    }
}

header .container nav .toggle-menu:hover+ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: rgb(0 0 0 / 50%);

}

header .container nav .toggle-menu:hover+ul li a {
    padding: 15px;
}

header .container nav .form {
    width: 40px;
    height: 30px;
    border-left: white solid 1px;
    margin-left: 30px;
    position: relative;
}

header .container nav .form i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-size: 20px;
    right: 0;
}

header .container nav ul li a {
    display: block;
    color: white;
    padding: 30px 10px;
    font-size: 14px;
    text-decoration: none;
    transition: 0.3s;
    position: relative;
    z-index: 2;
}

header .container nav ul li a.active,
header .container nav ul li a:hover {
    border-bottom: 1px var(--main-color) solid;
    color: var(--main-color);
}

/* end header */

/* start landing */

.landing {
    background-color: #1f2021;
    background-image: url(../img/landing.jpg);
    background-size: cover;
    min-height: 100vh;
    position: relative;
}

.landing .overlayer {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgb(0 0 0 / 60%);
}

.landing .text {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-color: var(--transparent-color);
    width: 50%;
    padding: 50px;
    color: white;
    display: flex;
    justify-content: flex-end;
}

@media (max-width:767px) {
    .landing .text {
        width: 100%;
    }
}

.landing .text .content {
    max-width: 500px;
}

@media (max-width:767px) {
    .landing .text .content {
        max-width: 100%;
    }
}

.landing .text .content h2 {
    font-size: 32px;
    font-weight: normal;
    line-height: 1.5;
    margin-bottom: 20px;
}

.landing .text .content p {
    font-size: 14px;
    line-height: 2;
}

.landing i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #ddd;

}

@media (max-width:767px) {
    .landing .change-background {
        display: none;
    }
}

.landing .fa-angle-left {
    left: 30px;
}

.landing .fa-angle-right {
    right: 30px;
}

.landing .change-background:hover {
    color: var(--main-color);
}

.landing .bullets {
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50px);
    bottom: 30px;
}

@media (max-width:767px) {
    .landing .bullets {
        bottom: 100px;
    }
}

.landing .bullets li {
    width: 15px;
    height: 15px;
    border: 1px solid white;
    border-radius: 50%;
    margin-right: 10px;
}

.landing .bullets li.active {
    background-color: var(--main-color) !important;
}

.landing .bullets li:hover {
    box-shadow: 10px 10px 5px #aaaaaa inset;
}

/* end landing */
