* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --main-color: #19c8fa;
    --transparent-color: rgb(15 116 143 / 70%);
    --section-padding: 100px;

}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
}

ul {
    list-style: none;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width:350px) {
    .container {
        width: 320px;
    }
}

/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* global compunnent */
.section {
    text-align: center;
}

.section .main-heading h2 {
    position: relative;
    margin: 0 auto 70px;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 40px;
}

.section .main-heading h2::before {
    content: '';
    position: absolute;
    bottom: -30px;
    background-color: #333;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    width: 120px;
}

.section .main-heading h2::after {
    content: '';
    position: absolute;
    bottom: -38px;
    left: 50%;
    transform: translateX(-50%);
    height: 15px;
    width: 15px;
    border: 2px solid #333;
    border-radius: 50%;
    background-color: white;
}

.section .main-heading p {
    width: 550px;
    font-size: 14px;
    color: #777;
    margin: 0 auto 100px;
    max-width: 100%;
    line-height: 2;
}

/* end compunant */

/* start header */
header {
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 2;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: 97px;

}

header .container::after {
    content: '';
    position: absolute;
    height: 1px;
    width: calc(100% - 30px);
    background-color: #a2a2a2;
    bottom: 10px;
    left: 15px;
}

header .container a img {
    height: 40px;

}

header .container nav {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

header .container nav ul {
    display: flex;
}

@media (max-width:767px) {
    header .container nav ul {
        display: none;
    }
}

header .container nav .toggle-menu {
    color: white;
    font-size: 22px;
}

@media (min-width:767px) {
    header .container nav .toggle-menu {
        display: none;
    }
}

header .container nav .toggle-menu:hover+ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: rgb(0 0 0 / 50%);

}

header .container nav .toggle-menu:hover+ul li a {
    padding: 15px;
}

header .container nav .form {
    width: 40px;
    height: 30px;
    border-left: white solid 1px;
    margin-left: 30px;
    position: relative;
}

header .container nav .form i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-size: 20px;
    right: 0;
}

header .container nav ul li a {
    display: block;
    color: white;
    padding: 30px 10px;
    font-size: 14px;
    text-decoration: none;
    transition: 0.3s;
    position: relative;
    z-index: 2;
}

header .container nav ul li a.active,
header .container nav ul li a:hover {
    border-bottom: 1px var(--main-color) solid;
    color: var(--main-color);
}

/* end header */

/* start landing */

.landing {
    background-color: #1f2021;
    background-image: url(../img/landing.jpg);
    background-size: cover;
    min-height: 100vh;
    position: relative;
}

.landing .overlayer {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgb(0 0 0 / 60%);
}

.landing .text {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-color: var(--transparent-color);
    width: 50%;
    padding: 50px;
    color: white;
    display: flex;
    justify-content: flex-end;
}

@media (max-width:767px) {
    .landing .text {
        width: 100%;
    }
}

.landing .text .content {
    max-width: 500px;
}

@media (max-width:767px) {
    .landing .text .content {
        max-width: 100%;
    }
}

.landing .text .content h2 {
    font-size: 32px;
    font-weight: normal;
    line-height: 1.5;
    margin-bottom: 20px;
}

.landing .text .content p {
    font-size: 14px;
    line-height: 2;
}

.landing i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #ddd;

}

@media (max-width:767px) {
    .landing .change-background {
        display: none;
    }
}

.landing .fa-angle-left {
    left: 30px;
}

.landing .fa-angle-right {
    right: 30px;
}

.landing .change-background:hover {
    color: var(--main-color);
}

.landing .bullets {
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50px);
    bottom: 30px;
}

@media (max-width:767px) {
    .landing .bullets {
        bottom: 100px;
    }
}

.landing .bullets li {
    width: 15px;
    height: 15px;
    border: 1px solid white;
    border-radius: 50%;
    margin-right: 10px;
}

.landing .bullets li.active {
    background-color: var(--main-color) !important;
}

.landing .bullets li:hover {
    box-shadow: 10px 10px 5px #aaaaaa inset;
}

/* end landing */

/* start services */
.services {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

@media (min-width:768px) {
    .services .sevices-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
        grid-column-gap: 40px;
        grid-row-gap: 60px;
    }
}

.services .serv {
    display: flex;


}

.services .serv i {
    margin-right: 50px;
}

@media (max-width: 767px) {
    .services .serv {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-bottom: 40px;
    }

    .services .serv i {
        margin: 0 0 30px;
    }
}

.services .serv .text h3 {
    color: var(--main-color);
    margin-bottom: 30px;
    cursor: pointer;
}

.services .serv .text h3:hover {
    text-decoration: underline;
}

.services .serv .text p {
    color: #777;
    max-width: 100%;
    line-height: 2;
}

/* end services */

/* start design */
.design {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-image: url(../img/design-features.jpg);
    height: 600px;
    background-size: cover;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.design::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 60%);
}

.design .img,
.design .design_text {
    flex: 1;
    position: relative;
    z-index: 2;
}

.design .img {
    text-align: center;
}

@media (max-width: 767px) {
    .design .img {
        display: none;
    }
}


.design .img img {
    position: relative;
    bottom: -206px;
}

.design .design_text {
    background-color: var(--transparent-color);
    /* width: 50%; */
    padding: 50px;
    color: white;
}

.design .design_text h2 {
    font-weight: normal;
    margin-bottom: 40px;
    text-transform: uppercase;
}

.design .design_text ul li {
    padding: 15px 0;
    cursor: pointer;
}

.design .design_text ul li:hover {
    text-decoration: underline;
}

.design .design_text ul li::before {
    font-family: "Font Awesome 5 Free";
    content: "\f108";
    font-weight: 900;
    margin-right: 10px;
    position: relative;
    top: 5px;
}

/* end design */

/* start protifolio */
.portfolio {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.portfolio .container .shuffle {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.portfolio .container .shuffle li {
    padding: 10px 20px;
    cursor: pointer;
}

.portfolio .container .shuffle li:not(li.active):hover {
    color: var(--main-color);
}

@media (max-width:768px) {
    .portfolio .container .shuffle li {
        font-size: 10px;
    }
}

.portfolio .container .shuffle li.active {
    background-color: var(--main-color);
    color: white;
}

.portfolio .img_container {
    display: flex;
    flex-wrap: wrap;

}

.portfolio .img_container .box {
    position: relative;
    flex-basis: 100%;
    overflow: hidden;
}

@media (min-width:768px) {
    .portfolio .img_container .box {
        flex-basis: 50%;
    }
}

@media (min-width:1199px) {
    .portfolio .img_container .box {
        flex-basis: 25%;
    }
}


.portfolio .img_container .box img {
    max-width: 100%;
    transition: 0.3s;
}

.portfolio .img_container .box img:hover {
    transform: rotate(3deg) scale(1.1);
}

.portfolio .img_container .box .caption {
    position: absolute;
    bottom: -100%;
    transition: 0.3s;
    background-color: white;
    width: 100%;
    padding: 20px;

}

.portfolio .img_container .box:hover .caption {
    bottom: 0;
}

.portfolio .img_container .box .caption h3 {
    font-weight: normal;
    margin-bottom: 5px;

}

.portfolio .img_container .box .caption p {
    color: var(--main-color);
    font-size: 12px;
}

.portfolio .link {
    width: fit-content;
    margin: 20px auto;
    background-color: var(--main-color);
    text-decoration: none;
    padding: 10px 30px;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.3s;
}

.portfolio .link:hover {
    transform: scale(1.1);
}

/* end portifolio */

/* start video  */

.video {
    position: relative;
}

.video::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 40%);
}

.video video {
    width: 100%;
}

.video .text {
    position: absolute;
    width: 100%;
    background-color: var(--transparent-color);
    padding: 50px;
    text-align: center;
    color: white;
    top: 50%;
    transform: translateY(-50%);
}

.video .text h2 {
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.video .text p {
    margin-bottom: 30px;
    font-size: 12px;
}

.video .text button {
    background-color: black;
    border: none;
    color: white;
    padding: 10px 20px;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.3s;
}

.video .text button:hover {
    transform: scale(1.1);
}

/* end video */

/* about start  */
.about {
    padding-top: var(--section-padding);
    text-align: center;
    overflow: hidden;
}

.about img {
    position: relative;
    bottom: -120px;
    margin-top: -120px;
    max-width: 100%;
}

@media (max-width:767px) {
    .about img {
        bottom: -60px;
        margin-top: -60px;
    }
}


/* about end  */

/* start stats */
.stats {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-image: url(../img/stats.jpg);
    text-align: center;
    background-size: cover;
    position: relative;
}

.stats::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 20%);
}

.stats .container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.stats .box {
    color: white;
    padding: 30px;
    background-color: var(--transparent-color);

}

@media (max-width:767px) {
    .stats .box {
        flex-basis: 100%;
    }
}

@media (min-width:768px) {
    .stats .box {
        flex-basis: 50%;
    }
}

@media (min-width:992px) {
    .stats .box {
        flex-basis: 25%;
    }
}

.stats .box i {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-radius: 50%;
    margin: 0 auto 20px;
}

.stats .box .number {
    font-size: 50px;
    font-weight: bold;
    margin: 0 0 20px;
}

.stats .box p {
    font-size: 14px;
}

/* end stats */

/* start skill  */
.skill {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.skill .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

@media (max-width:767px) {
    .skill .container {
        flex-direction: column;
        width: 100%;
    }

}

@media (min-width:768px) and (max-width:992px) {
    .skill .testimonials .box {
        flex-direction: column;
        text-align: center;
    }
}


.skill .testimonials {
    display: flex;
    flex-basis: 45%;
    flex-wrap: wrap;
    position: relative;
}

.skill .testimonials h2 {
    margin: auto;
    text-transform: uppercase;
    font-weight: normal;
}

.skill .testimonials>p {
    color: #777;
    text-align: center;
    padding: 40px;
    line-height: 1.8;
}

.skill .testimonials .box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

@media (max-width:767px) {
    .skill .testimonials .box {
        flex-direction: column;
        text-align: center;
    }
}

.skill .testimonials .box img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 50px 20px;
}

.skill .testimonials .box p {
    line-height: 1.8;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #777;
    position: relative;
}

.skill .testimonials .box p::after {
    content: 'john Doe,CEO';
    position: absolute;
    right: 0;
    bottom: 5px;
    color: #777;
    font-size: 12px;
}

@media (max-width:767px) {
    .skill .testimonials .box p {
        padding-bottom: 30px;
    }

    .skill .testimonials {
        margin-bottom: 30px;
    }


}

.skill .testimonials .bullets {
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50px);
    bottom: 0;
}

.skill .testimonials .bullets li {
    width: 15px;
    height: 15px;
    border: 1px solid black;
    border-radius: 50%;
    margin-right: 10px;
}

.skill .testimonials .bullets li.active {
    background-color: var(--main-color) !important;
}

.skill .testimonials .bullets li:hover {
    box-shadow: 10px 10px 5px #aaaaaa inset;
}

.our_skills {
    display: flex;
    flex-basis: 45%;
    flex-wrap: wrap;
    /* padding: 20px; */
}

.our_skills h2 {
    margin: auto;
    text-transform: uppercase;
    font-weight: normal;
}

.our_skills p {
    text-align: center;
    color: #777;
    line-height: 1.8;
    padding: 40px;
}

.our_skills .prog_holder {
    width: 100%;
    padding: 20px;
}

.our_skills .prog_holder .pro {
    height: 30px;
    background-color: #eee;
    width: 100%;
    position: relative;
}

.our_skills .prog_holder h4 {
    font-weight: normal;
    padding-bottom: 10px;
}

.our_skills .prog_holder .pro span {
    display: block;
    background-color: var(--main-color);
    height: 100%;
    position: relative;
}

.our_skills .prog_holder .pro span::after {
    content: attr(prog_data);
    position: absolute;
    background-color: black;
    color: white;
    padding: 5px 5px;
    border-radius: 4px;
    top: calc(-100% - 5px);
    right: -15px;
}

.our_skills .prog_holder .pro span::before {
    content: '';
    position: absolute;
    border-color: black transparent transparent transparent;
    border-style: solid;
    border-width: 5px;
    top: -7px;
    right: -4px;

}

/* end skill */

/* start quote  */

.quote {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    position: relative;
    background-image: url(../img/beautiful-rendering-colorful-circles.jpg);
    background-size: cover;
    text-align: center;
    color: white;
}

.quote::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 20%);
}

.quote .container {
    position: relative;
}

.quote q {
    text-transform: uppercase;
    font-size: 20px;
}

.quote .container q::before {
    font-family: "Font Awesome 5 Free";
    content: "\f10d";
    font-weight: 900;
    margin-right: 5px;
}

.quote .container q::after {
    font-family: "Font Awesome 5 Free";
    content: "\f10e";
    font-weight: 900;
    margin-left: 5px;

}

.quote span {
    display: block;
    padding: 10px;
    font-size: 14px;
}

/* end quote */